<div class="text-center">
	<a class="btn btn-danger" href="/users/sign_out" data-method="delete">Logout</a>
	<button class="btn btn-success" onclick="Create()" data-toggle="modal" data-target="#modal">Create</button>
	<a class="btn btn-primary" href="/send_mail" data-remote="true">Send Mail</a>
	<a class="btn btn-primary" href="/test_side_kiq" data-remote="true">Sidekiq</a>
	<a class="btn btn-success" href="/test_ransack">Test Ransack</a>
</div>
<table class="display" id="table-ggwp">
  	<thead>
    	<tr>
      		<th scope="col">Title</th>
      		<th scope="col">Description</th>
      		<th scope="col">Price</th>
      		<th scope="col">Author</th>
      		<th scope="col">Image</th>
      		<th scope="col">Action</th>
    	</tr>
  	</thead>
</table>

<%== @ggwp %>

<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<%= render "book/form" %>
  	</div>
</div>

<script type="text/javascript">
	<%= render "book/js.js" %>
</script>